python-dotenv
fastapi
httpx
# Start the virtual environment
source venv/bin/activate

#Install the dependancies in it
pip install fastapi uvicorn

# Start the backend
python -m uvicorn main:app --reload --port 8000
